@font-face {
    font-family: 'AchsNuevaSansLight';
    src: url('../fonts/ACHSNuevaSans-Light.woff2') format('woff2'),
        url('../fonts/ACHSNuevaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AchsNuevaSansRegular';
    src: url('../fonts/ACHSNuevaSans-Regular.woff2') format('woff2'),
        url('../fonts/ACHSNuevaSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AchsNuevaSansMedium';
    src: url('../fonts/ACHSNuevaSans-Medium.woff2') format('woff2'),
        url('../fonts/ACHSNuevaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AchsNuevaSansBold';
    src: url('../fonts/ACHSNuevaSans-Bold.woff2') format('woff2'),
        url('../fonts/ACHSNuevaSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AchsNuevaSerifRegular';
    src: url('../fonts/ACHSNuevaSerif-Regular.woff2') format('woff2'),
        url('../fonts/ACHSNuevaSerif-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AchsNuevaSerifMedium';
    src: url('../fonts/ACHSNuevaSerif-Medium.woff2') format('woff2'),
        url('../fonts/ACHSNuevaSerif-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AchsNuevaSerifBold';
    src: url('../fonts/ACHSNuevaSerif-Bold.woff2') format('woff2'),
        url('../fonts/ACHSNuevaSerif-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
* {
    transition: all .2s ease-in-out;
}
.ht_SalaDeEspera{
    h1, h2{
        font-family: 'AchsNuevaSerifBold';
        span {
            color: #348fff;
            font-family: 'AchsNuevaSerifBold';
        }
    }
    h3, h4 {
        font-family: 'AchsNuevaSerifRegular';
    }
    h6{
        font-family: 'AchsNuevaSansBold';
    }
    span{
        font-family: 'AchsNuevaSansLight';
    }
    p, ul li, h5{
        font-family: 'AchsNuevaSansRegular';
    }
    color: #373737;
    a{
        font-family: 'AchsNuevaSansBold';
        &.btn-primaryHt{
            background-color: #2b6bdc;
            color: white;
            text-decoration: none;
            &:hover{
                background-color: #002A6C;
            }
        }
    }
    button {
        &:focus {
            box-shadow: none;
        }
    }
    &__admision,
    &__atencionMedica,
    &__postAtencion {
        .list-group-horizontal {
            li {
                border-color: #2b6bdc;
                &.active {
                    background-color: #2b6bdc !important;
                    a {
                        color: white;
                        pointer-events: none;
                    }
                }
                a {
                    color: #2b6bdc;
                    display: block;
                    font-family: 'AchsNuevaSansRegular';
                    font-size: 15px;
                    text-decoration: none;
                    line-height: 18px;
                }
                &:hover {
                    background-color: #EAF3FE;
                }
            }
        }
        &-accordion {
            .accordion-item {
                border-color: #96C5FA;
                button {
                    position: relative;
                    &.collapsed {
                        font-family: 'AchsNuevaSansRegular';
                        font-size: 16px;
                        .icon-plus {
                            display: block;
                            position: absolute;
                            right: 15px;
                            width: 25px;
                            height: 25px;
                            path {
                                fill: #2b6bdc;
                            }
                        }
                        .icon-minus {
                            display: none;
                        }
                    }
                    &:not(.collapsed) {
                        background-color: #2b6bdc;
                        color: white;
                        font-family: 'AchsNuevaSansBold';
                        .icon-plus {
                            display: none;
                        }
                        .icon-minus {
                            position: absolute;
                            display: block;
                            right: 15px;
                            width: 25px;
                            height: 3px;
                            path {
                                fill: #fff;
                            }
                        }
                    }
                    &::after {
                        display: none;
                    }
                }
            }
            .accordion-body {
                ol {
                    li {
                        font-family: 'AchsNuevaSansRegular';
                    }
                }
            }
        }
        &-card {
            background-color: #EAF3FE;
            border: 1px solid #d7d7d7;
            text-decoration: none;
            .icon {
                background-color: #fff;
                margin-bottom: 15px;
                width: 64px;
                height: 64px;
                border-radius: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                svg {
                    path, polygon,rect {
                        fill: #348fff;
                    }
                }
                &-document {
                    width: 36px;
                    height: 39px;
                }
                &-doctor {
                    width: 35px;
                    height: 42px;
                }
                &-post {
                    width: 40px;
                    height: 40px;
                }
                &-ambulance {
                    width: 38px;
                    height: 26px;
                }
                &-medical {
                    width: 45px;
                    height: 45px;
                }
                &-document2 {
                    width: 46px;
                    height: 48px;
                }
                &-qualification {
                    width: 48px;
                    height: 48px;
                }
            }
            .linked {
                p {
                    strong {
                        color: #373737;
                        font-family: 'AchsNuevaSerifBold';
                        font-size: 20px;
                        max-width: 300px;
                    }
                    span {
                        color: #348fff;
                        font-size: 16px;
                        text-decoration: underline;
                    }
                }
            }
            &:hover {
                .linked {
                    p {
                        span {
                            color: #373737;
                        }
                    }
                }
            }
        }
        .row-steps {
            a {
                color: #373737;
            }
            h4 {
                font-size: 24px;
                span {
                    color: #348fff;
                    font-family: 'AchsNuevaSerifBold';
                }
            }
            .datosBox {
                background-color: #EAF3FE;
                ul {
                    li {
                        color: #5f5f5f;
                        font-family: 'AchsNuevaSansRegular';
                        strong {
                            font-family: 'AchsNuevaSansBold';
                        }
                    }
                }
            }
            .disclaimerHt {
                background-color: #f4f4f4;
                .icon-info{
                    width: 17px;
                    height: 17px;
                    path {
                        fill: #2b6bdc;
                    }
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
    &__didYouKnow {
        &-box {
            border-radius: 17px;
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
            text-decoration: none;
            figure {
                border: 1px solid #96C5FA;
                height: 200px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            p {
                color: #5f5f5f;
                font-size: 16px;
            }
        }
    }
    &__main {
        &-box{
            border: 1px solid #348fff;
            border-radius: 17px;
            box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
            text-decoration: none;
            .icon{
                background-color: #f4f4f4;
                margin-bottom: 15px;
                width: 64px;
                height: 64px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                svg {
                    path, polygon,rect {
                        fill: #348fff;
                    }
                }
                &-admision {
                    width: 40px;
                    height: 40px;
                }
                &-doctor {
                    width: 35px;
                    height: 42px;
                }
                &-post {
                    width: 40px;
                    height: 40px;
                }
            }
            h5{
                color: #002A6C;
                font-size: 18px;
            }
            &:hover {
                background-color: #2b6bdc;
                border-color: #2b6bdc;
                h5 {
                    color: white;
                }
            }
        }
    }
    &__more-info,
    &__more-aboutAchs {
        background-color: #EAF3FE;
        p {
            font-size: 16px;
        }
        &-box {
            background-color: #fff;
            border-radius: 17px;
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
            color: #2b6bdc;
            font-family: 'AchsNuevaSansBold';
            figure {
                height: 200px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            span {
                &.tag {
                    background-color: #D6E5F9;
                    color: #002A6C;
                    display: inline-block;
                    width: max-content;
                    margin: 0 auto;
                    svg {
                        width: 20px;
                        height: 20px;
                        path {
                            fill: #002A6C;
                        }
                    }
                }
                &.timeRead {
                    color: #787878;
                    font-size: 14px;
                    svg {
                        width: 16px;
                        height: 16px;
                        path {
                            fill: #787878;
                        }
                    }
                }
            }
            h5 {
                color: #373737;
                font-family: 'AchsNuevaSerifBold';
            }
            p {
                color: #373737;
            }
        }
    }
}
@media (min-width: 200px) {
    .ht_SalaDeEspera {
        .list-group {
            &-item {
                width: 120px;
                min-height: 58px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }
    }
}
@media (min-width: 992px) {
    .ht_SalaDeEspera {
        &__postAtencion {
            .row-steps {
                .datosBox {
                    max-width: 400px;
                }
            }
        }
        .list-group {
            &-item {
                min-width: 217px;
                height: auto;
            }
        }
    }
}